
@font-face {
  font-family: "Digital";
  src: url('./@font-face/8e22783d707ad140bffe18b2a3812529.woff');
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    margin-top: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    background-color: #2196F3;
    width: 12.5%;
    padding: 5px;
    background-color: black;
    color: white;
}

.grid-item {
    padding: 25px;
    border: 1px solid black;
    text-align: center;
    background-color: #4D4D4D;
}

#display {
    grid-column: 1 / 5;
    grid-row: 1 / 2;    
    display: grid;
    grid-template-rows: 70% 30%;
    text-align: end;
    padding: 7px;
    background-color: #000;
}

#equation {
    font-size: 20px;
    padding-top: 4px;
    font-family: digital;
}

#output {
    margin-top: -2px;
    padding-bottom: 8px;
    font-size: 30px;
    font-family: digital;
}

#AC {
    grid-column: 1 / 3;
    background-color: #AC3939;
}

#equals {
    grid-column: 4 / 5;
    grid-row: 5 / 7;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004466;
}

#zero {
    grid-column: 1 / 3;
}

#divide, #multiply, #minus, #plus {
    background-color: #666666;
}



